@charset "utf-8";
@viewport {width:device-width; zoom:1;}
* {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}

  @media only screen and (min-width:700px) {
  nav li {display:inline-block; width:30%;}
    .section {display:flex;}
      .section1 {flex-wrap: wrap;}
      .section1 div {padding:1em; flex:50%;}
  }

  @media only screen and (min-width:1000px) {
  .section1 div {padding:1em; flex:25%;}
  }

	   
  img {max-width:100%;
       margin:0.5em;
       padding:0.5em;
      }

  nav ul {margin:1; padding:0.4; list-style:none; text-align:center;}
  nav a {
          display:block; 
          padding:0.2em; 
          border:2px solid black;
          background-color: #FFF8DC;
          border-radius:25px;
          font-size: 25px;
         }
		 
  body{ 
		text-align: center;
        background-image: url(hoffman.png);
        background-repeat:repeat;
        margin: 0 15%;
        font-family: san-serif;
        font-size: 1em;
       }

  header{
          text-align: center;
          font-family: stencil;
          font-weight: normal;
          text-transform: uppercase;
          border-bottom: 3px solid gold;
          margin-top: 20px;
          margin-bottom: 10px;
          font-size: 2em;
         }

h1{
      color: #DC143C;
      font-size: 2em;
      text-align: center;
      font-family:Times, serif;
    }

  h2 {
      color: #172AB7;
      font-size: 1.25em;
      text-align: center;
      font-family:Times, serif;
     }

  figcaption {text-align:center;}

  footer{font-size: 0.5em;}
  .site-footer {clear:both; padding:1em; text-align:center; border-top:1px solid gray;}

